nav {
    background-color: #a7caec ;
    color: black;
    padding: 1.2rem;
}

.navbarcontainer {
    display: flex;
    justify-content: space-between; /* spaces out the logo and login/signup */
    align-items: center; /* alligns items at center */
    width: 100%;
    position:relative; 
}

.navbarlogo {
    flex: 1; /* allows logo to use available space */
    text-align: center; /* alligns items at center within container */ 
    position:relative;left: 50px
}


.navbarlogo a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarlogin a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

